<div class="main-container">
    <mat-toolbar>
        <span>Interne Bestellungen</span>
    </mat-toolbar>
    <div class="io-controls">
        <div>
            <button class="new-order-btn io-control-btn" mat-raised-button (click)="openNewInternOrder()"
                color="primary">
                Neue Bestellung
            </button>
            <button class="incoming-goods-btn io-control-btn" mat-stroked-button color="primary" color="primary"
                (click)="openIncomingGoods()">
                Wareneingang
            </button>
        </div>
        <mat-form-field class="filter">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class=" mat-elevation-z8">
            <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let order"> {{order[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let order" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="order == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            {{order.merchandiseName}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>