<div class="navbar">
    <div class="comp-nav">
        <a routerLink="/home" mat-button style="font-size: large">Zorius</a>
        <a routerLink="/home" mat-button>Zeiterfassung</a>
        <a routerLink="/home" mat-button>Berichte</a>
        <button mat-button [matMenuTriggerFor]="menu">Warenwirtschaft</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/merchandise/intern_orders">Interne Bestellungen</button>
            <button mat-menu-item routerLink="/merchandise/extern_orders">Externe Bestellungen</button>
            <button mat-menu-item routerLink="/merchandise/stock">Lager</button>
        </mat-menu>

    </div>
    <div class="profile-nav">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>notes</mat-icon>
                <span>Notizen</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>

    </div>
</div>