@import '~src/styles';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: mat-color($zorius-font-light);
    background-color: mat-color($zorius-primary, 500);

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.25vw;
    padding-right: 1.25vw;

    .comp-nav {
        align-self: flex-start;
        display: block;
        float: left;
    }

    .profile-nav {
        align-self: flex-end;
        display: block;
        float: right;
    }
}